# Alexander Tebiev - https://github.com/beeyev/thumbor-s3-docker

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,sls}]
indent_style = space
indent_size = 2

[*.{md,markdown,txt}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[{Makefile,Caddyfile,*.Caddyfile,.gitconfig,.gitconfig.local}]
indent_style = tab
tab_width = 4

# Python
# https://www.python.org/dev/peps/pep-0008/#code-lay-out
[*.py]
indent_size = 4
indent_style = space

# Shell
# https://google.github.io/styleguide/shell.xml#Indentation
[*.{bash,sh,zsh}]
indent_size = 2
indent_style = space

[{Dockerfile,Dockerfile.template.erb,Dockerfile-alpine}]
indent_style = space
indent_size = 4